
{% extends 'base.html' %}

{% block body %}
<div class= "adjust"style="margin-top: 15px;">
    <section id="services" class="services">
      <div class="container" data-aos="fade-up">
  
        <div class="section-title">
          <h2>About Us</h2>
        </div>
    </section>

      
      <section class="ftco-section">
          <div class="container">
              <div class="row d-flex">
                  <div class="col-md-6 d-flex ftco-animate">
                      <div class="img img-about align-self-stretch" style="background-image: url(/static/img/bg_4.jpg); width: 100%;"></div>
                  </div>
                  <div class="col-md-6 pl-md-5 ftco-animate">
                      <h2 class="mb-4">Welcome to Welfare Stablished Since 1898</h2>
                      <p>The idea of this project is to bridge the gap between two sections of our society, where the first class of people is the one that is already wealthy and afford to live a simple life and the other class is the one where people can’t even afford their meal and shelter. For such people, in our country, we have several NGOs that work for their betterment and fulfillment. Our project aims to give people a platform where NGOs and donators get an opportunity to connect.</p>
                      <p>The project aims to attract people and NGOs to help them connect and serve NGOs via any source be it some financial help or to get time out of their lives and interact with children in orphanages or senior-aged people living in old age homes. More than money the people living in NGOs seek love and time. Our application also encourages this, we have modules where people can share the feed and photos displaying the time, they spent with NGO people using this application.</p>
                  </div>
              </div>
          </div>
      </section>
  

</div>
{% endblock %}