{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %}
Add NGO
{% endblock %}
{% block body %}
<div class= "adjust"style="margin-top: 25px;">

  <section id="services" class="services">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Add your NGO here</h2>

      </div>

  <div class="container">

    <form action="." method="post"  enctype="multipart/form-data" novalidate
    >

      {% csrf_token %}
      {% for field in form.visible_fields %}
        <div class="form-group">
            {{ field.label_tag }}
               {% render_field field class="form-control" %}
                 {% for error in field.errors %}
                   <span style="color:red">{{ error }}</span>
                 {% endfor %}
                 {% endfor %}
                 <button type="submit" class="btn btn-lg btn-success" >Upload</button>

        </div>
 </form>

    {% if obj %}
    <h4 style="margin-top:20px;">Add more posts by clicking above button</h4>
    <h3>Checkout NGO List to see your Ngo </h3>
    <a href="/feed/donate/" class="btn-about" style="font-size: 30px;">NGO List</a>

{% endif %}
    <hr>
  </div>
</div>

  </section>
</div>
{% endblock %}